---

---

<div class='divToggleTheme flex flex-row w-full'>
	<p
		class='auxi divSinNombre flex flex-1 justify-center items-center mr-4 text-[var(--auxi1)] lg:text-[2rem] 2xl:text-[3rem] text-[1.5rem] mt-4'
	>
		Auxiliar Manipuladora del Cartón
	</p>
	<!-- <div class='pr-4 md:flex'>
		<ToggleTheme />
	</div> -->
</div>

<style>
	.divSinNombre {
		font-family: ErasITC;
		font-size: 1.5rem;
		text-wrap: nowrap;
	}
</style>
